<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <!-- 
                Regla 1: Quitar la barra '/' al final de la URL
                Esta regla se asegura de que las URL que terminen con una barra sean redirigidas a la misma URL sin la barra final.
                Ejemplo: /example/ se convierte en /example
                -->
                <rule name="RewriteRequestsToPublic">
                    <match url="^(.*)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>

                <!-- 
                Regla 2: Reescribir la solicitud si el archivo o directorio no existe.
                Si se solicita un archivo o directorio que no existe, se reescribirá la solicitud para que pase por "index.php".
                Esto es útil para sistemas de enrutamiento basados en URLs amigables, como Laravel o frameworks similares.
                -->
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>

            </rules>
        </rewrite>
        <handlers>
            <add name="PHP 8.2.24" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-8.2.24\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
